@import 'variables';
@import 'auth-forms';

.forgot-password {
  text-align: right;
  font-size: 18px;
  height: 25px;
  color: $text-gray;
  cursor: pointer;
  margin: 13px 0 32px;
}

.signup-prompt {
  text-align: center;
  font-size: 26px;
  height: 32px;
  .sign-link { color: #AB7EF1; cursor: pointer; }
}
